name: "自动任务"

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/main.yml"
      - "package.json"
      - "**.js"

jobs:
  auto_login_netlib:
    runs-on: ubuntu-latest
    steps:
      - name: "获取仓库代码"
        uses: actions/checkout@v4
      - name: "设置Node.js环境"
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: "安装依赖项"
        run: npm install
      - name: "检查Playwright, browser"
        id: cache-playwright
        uses: actions/cache@v4
        with:
          path: ./cache/playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('./cache/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-playwright-
      - name: "安装Playwright, browser"
        run: npx playwright install --with-deps chromium
        if: ${{ steps.cache-playwright.outputs.cache-hit != 'true' }}
      - name: "运行脚本"
        run: npm start